<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackVerify</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
</head>

<body>
    <div class="container">
        <header>
            <h1>HackVerify</h1>
            <p>Hack smarter, hack fairer</p>
        </header>
        <main>
            <form id="organizerForm">
                <div class="form-group">
                    <label for="linkedin">LinkedIn Profile</label>
                    <input type="text" id="linkedin" placeholder="Enter your LinkedIn" required>
                </div>
                <div class="form-group">
                    <label for="devpost">Devpost Link</label>
                    <input type="text" id="devpost" placeholder="Enter your hackathon's Devpost" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="Enter your email" required>
                </div>
                <button type="submit">Submit</button>
            </form>
        </main>
    </div>
    <a href="/auth/linkedin">Login with LinkedIn</a>
    <script src="/static/script.js"></script>
</body>

</html>