<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackVerify</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>hackverify</h1>
            <p>Automating hackathon cheat checks</p>
            <img src="../images/logo.png" alt="HackVerify logo" class="logo">
        </header>
        <main>
            <div class="login-container">
                <a href="/auth/linkedin" class="linkedin-login-btn">
                    <i class="fab fa-linkedin"></i>
                    Continue with LinkedIn
                </a>

                <div class="explanation">
                    <p>After signing in, you'll be able to submit your hackathon's details for verification.</p>
                </div>
            </div>
        </main>
    </div>
    <div class="copyright">
        <footer>© 2025 HackVerify. Developed by Ishar Ghura.</footer>
    </div>
    <script src="/static/login.js"></script>
</body>
</html>